<% layout('./helpers/boilerplate') -%>
    <div class="container align-items-lg-start">
        <% for( let item of items ) { %>
            <%- include('../partials/itemcard',{item}) %>
                <% } %>
                    <form action="/shop/add" method="get">
                        <button type="submit" class="btn btn-info ">Add Book</button>
                    </form </div>


                    </main>